 /* Makes the home page blue and font a different color*/

body {
    background-color: #205ea0;
    font-family: Arial, sans-serif;
}

.meow {     /* for nav bar, doesnt really do anything just for aestetics, but it does reset the page*/
    background-color: #69cbff;
    padding: 15px;
    border-radius: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 900px;
    margin: 20px auto;
}
/*This is for the letters in the navebar, to make it look abit better
transition to not rush the image getting bigger.*/
.meow a { 
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 20px;
    transition: 0.3s ease-in-out;
    border-radius: 10px;
}
/*Make background and text different when hovered over*/
.meow a:hover {
    background-color: #1cb0ff;
    color: white;
}

/*Regular footer
*/
#hisss {
    margin-top: 40px;
    background-color: #6a34ff;
    color: white;
    padding: 20px;
    border-radius: 5px;
}

/*Webpage look good by putting a colored container and border radius at 10px so its not too curved*/
#oink {
    width: 80%;
    margin: auto;
    text-align: left;
    background-color: #1287be;
    padding: 20px;
    border-radius: 10px;
}


/*So when I hover over the images it grows abit bigger.
border radius 4px not so curved.
used what i learnt from the froggy flex game to make my image centered.
transition to not rush the image getting bigger.
*/
.moo {
    width: 20px;               
    transition: 0.3s ease-in-out;
    width: 20%;
    max-width: 1200px;
    margin: 0 auto; 
    padding: 20px;
    background-color: rgb(0, 47, 59);
    border-radius: 4px;
    display: flex;
    justify-content: center;
    }
    /*Make it so image gets bigger by 1.1 when it is hovered over.*/
    .moo:hover {
    transform: scale(1.1);      
    }



